name: "Pull Requests"
on:
  pull_request_target:

jobs:
  approve-pr-tests:
    runs-on: ubuntu-latest
    environment:
      name: "Pull Request Tests"
    steps:
      - run: "echo 'Execution of tests pending approval'"

  test:
    needs: ["approve-pr-tests"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set environment variables from .env
        uses: xom9ikk/dotenv@v2.3.0
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run tests
        env:
          CYBER_TIPLINE_USERNAME: ${{ secrets.CYBER_TIPLINE_USERNAME }}
          CYBER_TIPLINE_PASSWORD: ${{ secrets.CYBER_TIPLINE_PASSWORD }}
        run: go test -coverprofile c.out -v -race ./...